<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>MadLibs generator</title>
    <meta name="description" content="">
    
    <link rel="stylesheet" type="text/css" href="//cdnjs.cloudflare.com/ajax/libs/normalize/5.0.0/normalize.min.css">
    <link rel="stylesheet" href="/style.css">
  </head>
  <body>
    <h1>hi world from HTML land</h1>
    <a href="https://absorbed-mare.gomix.me/?adjective1=red&pronoun=he&adjective2=spikey&adjective3=effective&adverb=rapidly&name=Joe&noun=bungee%20cord&place=Kansas"> Get your madlib</a>

    <script src="//code.jquery.com/jquery-3.1.1.min.js" integrity="sha256-hVVnYaiADRTO2PzUGmuLJr8BLUSjGIZsDYGmIJLv2b8=" crossorigin="anonymous"></script>
    <script src="/client.js"></script>
  </body>
</html>
